# Todo: This is repeated in stencil-library and react-client so that dotenv finds them when running tests from those dirs.
#       It should just be in the root of the project if possible

API_URL=https://xxxxx
STRIPE_PUBLIC_KEY=pk_test_xxxxx
